<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <title>Nuestros clientes - DLaredo</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../img/logo.png" alt="logo empresa" width="200" height="200">
            </a>
            <ul>
                <li>
                    <a href="../index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="unete.html">
                        Únete con nosotros!
                    </a>
                </li>
                <li class="nuestros">
                    <a href="clientes.html">
                        Nuestros clientes
                    </a>
                </li>
                <li>
                    <a href="contactanos.html">
                        Contáctanos
                    </a>
                </li>
                <li>
                    <a href="galería.html">
                        Galería
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img src="../img/nuestros%20clientes/banner.png" alt="bannwe" width="1920" height="481">
            <h1>
                NUESTROS CLIENTES
            </h1>
            <p>
                <a href="../index.html">HOME </a><span> / </span>NUESTROS CLIENTES
            </p>
        </div>
        <div class="titulo-cliente">
            <p>
                Es muy importante para nosotros prestar un servicio de máxima calidad, donde la satisfacción del cliente prime ante todo.
            </p>
        </div>
            <div class="clientes">
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/acciona.png" alt="acciona" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/amenabar.png" alt="amenabar" width="500" height="250">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/sando.png" alt="sando" width="245" height="109">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/ruesma.png" alt="ruesma" width="500" height="300">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/cemex.png" alt="cemex" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/copasa.png" alt="copasa" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/ferrovial.png" alt="ferrovial" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/puentes.png" alt="puentes" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/azvi.png" alt="azvi" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/hi.png" alt="hi" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/ibero.png" alt="ibero" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/sacyr.png" alt="sacyr" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/ohl.png" alt="ohl" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/rover.png" alt="rover" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/sanjose.png" alt="sanjose" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/sogeosa.png" alt="sogeosa" width="230" height="100">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/gyocivil.png" alt="gyocivil" width="225" height="143">
                </div>
                <div class="caja">
                    <img src="../img/nuestros%20clientes/clientes/cimsa.png" alt="cimsa" width="527" height="276">
                </div>
            </div>
    </main>
    <footer>
        <div class="logo">
           <img src="../img/logo.png" alt="logo" width="200" height="100">
        </div>
        <hr class="linea">
        <div class="contenido">
            <p>
                Síguenos en:
            </p>
            <div class="redes">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/">
                            <img src="../img/footer/facebook-logo.png" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/">
                            <img src="../img/footer/x-logo.png" alt="x">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkdin.com/">
                            <img src="../img/footer/linkedin-logo.png" alt="linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/">
                            <img src="../img/footer/instagram-logo.png" alt="instagram">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="email">
                <span>
                    NEWSLETETR:
                </span>
                <div class="formu">
                    <input type="email" id="email" name="email" placeholder="Tu email..." required>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </div>
        <div class="aviso">
            <a href="https://textos-legales.edgartamarit.com/#:~:text=En%20este%20sitio%20web%20podr%C3%A1s%20generar%20los%20documentos,General%20de%20Protecci%C3%B3n%20de%20Datos%20o%20RGPD%20vigente.">
                Aviso Legal
            </a>
            <p>
                Nuestra oficina: C/Juan de Olias, 4 28020- Madrid
            </p>
        </div>
        <h4>
            Domingo Laredo Obras (L3RightMC) © 2025. All Right Reserved
        </h4>
    </footer>
</body>
</html>