<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">
    <script src="../js/script1.js"></script>
    <title>Únete con nosotros - DLaredo</title>
</head>
<body>
    <div id="caja-politica" class="caja-politica">
        <p>Este sitio recopila datos según nuestra <a href="views/politica.html" target="_blank">Política de Privacidad</a>.  
            Por favor, acéptala para continuar.
        </p>
        <label class="checkbox-contenedor">
            <input type="checkbox" id="checkbox-politica">
            <span class="checkmark"></span> Acepto la política de privacidad
        </label>
        <button id="boton-politica" disabled>Aceptar</button>
    </div>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../img/logo.png" alt="logo empresa" width="200" height="200">
            </a>
            <ul>
                <li>
                    <a href="../index.html">
                        Inicio
                    </a>
                </li>
                <li class="unete">
                    <a href="presupuesto.html">
                        Únete con nosotros!
                    </a>
                </li>
                <li>
                    <a href="clientes.html">
                        Nuestros clientes
                    </a>
                </li>
                <li>
                    <a href="contacto.html">
                        Contáctanos
                    </a>
                </li>
                <li>
                    <a href="productos.html">
                        Galería
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <h1>
                TRABAJA CON NOSOTROS
            </h1>
            <p>
                <a href="../index.html">HOME </a><span> / </span>Trabaja con nosotros
            </p>
            <img src="../img/trabaja%20con%20nosotros/banner.jpg" alt="camion aire libre" width="1920" height="481">
        </div>
        <div class="contenido">
            <div class="oficina">
                <h4>
                    NUESTRAS OFICINAS
                </h4>
                <p class="calle">
                    C/Juan de Olias, 4 28020- Madrid
                </p>
                <p class="tel">
                    Tel.: (+34) 925 12 95 43
                    Tel.: (+34) 670 413 825
                </p>
                <p class="correo">
                    laredo@dlaredo.com
                </p>
                <h4>
                    NUESTRO HORARIO
                </h4>
                <p class="horario">
                    Lunes a viernes: de 9h a 18h
                    Sábados: Cerrado
                    Domingos: Cerrado
                </p>
            </div>
            <div class="oferta">
                <p>
                    Se ofertan los siguientes puestos de trabajo:
                </p>
                <ul>
                    <li>
                        Conductores de camiones con 3 ejes y camiones bañera con experiencia
                    </li>
                    <li>
                        <h4 class="neg">
                            CONDUCTORES DE BAÑERAS PARA TRABAJOS EN LA ZONA DE MADRID, GRANADA, PALENCIA Y ALMERÍA
                        </h4>
                    </li>
                </ul>
                <p>
                    (para más información contacten vía correo electrónicco y envíen su CV)
                </p>
            </div>
        </div>
        <div class="formulario">
            <h3>
                TRABAJA CON NOSOTROS
            </h3>
            <p>
                Puede enviar su Currículum Vitae
            </p>
            <p>
                Los campos con asterisco (*) son obligatorios
            </p>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellidos" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="text"  id="asunto" name="asunto" placeholder="Asunto" required>
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje" rows="4"></textarea>
            <input type="file" id="archivo" name="archivo" required>
            <button type="submit" id="enviar">Enviar</button>
        </div>
    </main>
    <footer>
        <div class="logo">
           <img src="../img/logo.png" alt="logo" width="200" height="100">
        </div>
        <hr class="linea">
        <div class="conten">
            <p>
                Síguenos en:
            </p>
            <div class="redes">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/">
                            <img src="../img/footer/facebook-logo.png" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/">
                            <img src="../img/footer/x-logo.png" alt="x">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkdin.com/">
                            <img src="../img/footer/linkedin-logo.png" alt="linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/">
                            <img src="../img/footer/instagram-logo.png" alt="instagram">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="emailes">
                <span>
                    NEWSLETETR:
                </span>
                <div class="formu">
                    <input type="email" id="emails" name="emails" placeholder="Tu email..." required>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </div>
        <div class="aviso">
            <a href="https://textos-legales.edgartamarit.com/#:~:text=En%20este%20sitio%20web%20podr%C3%A1s%20generar%20los%20documentos,General%20de%20Protecci%C3%B3n%20de%20Datos%20o%20RGPD%20vigente.">
                Aviso Legal
            </a>
            <p>
                Nuestra oficina: C/Juan de Olias, 4 28020- Madrid
            </p>
        </div>
        <h4>
            Domingo Laredo Obras (L3RightMC) © 2025. All Right Reserved
        </h4>
    </footer>
</body>
</html>