<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style4.css">
    <title>Galería - DLaredo</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="../img/logo.png" alt="logo empresa" width="199" height="68">
            </a>
            <ul>
                <li>
                    <a href="../index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="presupuesto.html">
                        Únete con nosotros!
                    </a>
                </li>
                <li>
                    <a href="clientes.html">
                        Nuestros clientes
                    </a>
                </li>
                <li>
                    <a href="contacto.html">
                        Contáctanos
                    </a>
                </li>
                <li class="galeria">
                    <a href="productos.html">
                        Galería
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img src="../img/galeria/banner.png" alt="banner" width="1920" height="481">
            <h1>
                GALERÍA
            </h1>
            <p>
                <a href="../index.html">HOME </a><span> / </span>GALERÍA
            </p>
        </div>
        <div class="fotos">
            <h1>
                Bienvenid@s a la galería!
            </h1>
            <p>
            Aquí os enseñamos nuestras máquinas, donde y cómo trabajamos, y con el esfuerzo se llega a todo
            </p>
            <div class="galerias">
                <img src="../img/galeria/fotos/aridos.png" alt="tierra y arena" width="478" height="310">
                <img src="../img/galeria/fotos/carretera.png" alt="maquina en la oficina" width="478" height="310">
                <img src="../img/galeria/fotos/colaborar.jpg" alt="colabora con una empresa" width="478" height="310">
                <img src="../img/galeria/fotos/proyecto.png" alt="excavando" width="478" height="310">
                <img src="../img/galeria/fotos/demoliciones.png" alt="demiliendo  casa" width="478" height="310">
                <img src="../img/galeria/fotos/eqipo.png" alt="haciendo tunel" width="478" height="310">
                <img src="../img/galeria/fotos/excavar.jpg" alt="excavando" width="478" height="310">
                <img src="../img/galeria/fotos/fiesta.jpeg" alt="muchas personas celebrando" width="478" height="310">
                <img src="../img/galeria/fotos/mano.png" alt="" width="478" height="310">
                <img src="../img/galeria/fotos/mineria.png" alt="minando al aire libre" width="478" height="310">
                <img src="../img/galeria/fotos/movimiento.png" alt="" width="478" height="310">
                <img src="../img/galeria/fotos/nose.png" alt="no se ni que es eso" width="478" height="310">
                <img src="../img/galeria/fotos/residuos.png" alt="recogiendo residuos" width="478" height="310">
                <img src="../img/galeria/fotos/tierra.jpg" alt="" width="478" height="310">
                <img src="../img/galeria/fotos/topografia.png" alt="homnre mirando un dispositivo" width="478" height="310">
                <img src="../img/galeria/fotos/transporte.png" alt="transporte de cosas" width="478" height="310">
                <img src="../img/galeria/fotos/triturado.png" alt="triturando" width="478" height="310">
                <img src="../img/galeria/fotos/voladuras.png" alt="explosion" width="478" height="310">
            </div>
        </div>
    </main>
    <footer>
        <div class="logo">
           <img src="../img/logo.png" alt="logo" width="200" height="100">
        </div>
        <hr class="linea">
        <div class="contenido">
            <p>
                Síguenos en:
            </p>
            <div class="redes">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/">
                            <img src="../img/footer/facebook-logo.png" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/">
                            <img src="../img/footer/x-logo.png" alt="x">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkdin.com/">
                            <img src="../img/footer/linkedin-logo.png" alt="linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/">
                            <img src="../img/footer/instagram-logo.png" alt="instagram">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="email">
                <span>
                    NEWSLETETR:
                </span>
                <div class="formu">
                    <input type="email" id="email" name="email" placeholder="Tu email..." required>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </div>
        <div class="aviso">
            <a href="https://textos-legales.edgartamarit.com/#:~:text=En%20este%20sitio%20web%20podr%C3%A1s%20generar%20los%20documentos,General%20de%20Protecci%C3%B3n%20de%20Datos%20o%20RGPD%20vigente.">
                Aviso Legal
            </a>
            <p>
                Nuestra oficina: C/Juan de Olias, 4 28020- Madrid
            </p>
        </div>
        <h4>
            Domingo Laredo Obras (L3RightMC) © 2025. All Right Reserved
        </h4>
    </footer>
</body>
</html>